<!DOCTYPE html>
<html lang="en">

  <title>Data Collector App</title>
  <head>
    <link href="../static/main.css" rel="stylesheet" />
  </head>

  <body>
    <div class="container">
      <h1>Height Survey</h1>
      <h3>Please fill the entries to get population statistics on height.</h3>
      <div class="message">
        {{text | safe}}
      </div>
      <form action={{ url_for('success')}} method="POST">
        <input title="Your email won't be sent any spam" placeholder="Enter your email address" type="email" name="email-name" required><br>
        <input title="Your data is safe is with us" placeholder="Enter your height (in cms)" type="number" min=50 max=300 step="0.1" name="height-name" required><br>
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>

</html>
